@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --background: #111317;
    --background-divisoes:#1b1d24;
    --background-menu-lateral:#15181f;
    --background-selecionado:#34476e;

    --fonte-primaria: #ffffff;
    --fonte-secundaria: #697082;

    --arredondamento: 10px;
    --borda-escura: 1px solid #2a2c31;
    --borda-clara: 1px solid #3a3d43;

    --azul: #3569d9;
    --verde:#5fc266;
    --vermelho:#d94e4e;
    --amarelo:#efc83b;
    --roxo:#af76d5;
    --ciano: #8ef7d2;
    --cinza: #3a3d43;

    --imagem-azul: brightness(0) saturate(100%) invert(38%) sepia(88%) saturate(1717%) hue-rotate(206deg) brightness(93%) contrast(92%);
    --imagem-verde: brightness(0) saturate(100%) invert(69%) sepia(19%) saturate(1007%) hue-rotate(75deg) brightness(90%) contrast(90%);
    --imagem-vermelho: brightness(0) saturate(100%) invert(40%) sepia(54%) saturate(1143%) hue-rotate(319deg) brightness(91%) contrast(93%);
    --imagem-amarelo: brightness(0) saturate(100%) invert(80%) sepia(32%) saturate(720%) hue-rotate(5deg) brightness(95%) contrast(92%);
    --imagem-roxo: brightness(0) saturate(100%) invert(59%) sepia(30%) saturate(668%) hue-rotate(235deg) brightness(94%) contrast(92%);
    --imagem-ciano: invert(12%) sepia(33%) saturate(980%) hue-rotate(105deg) brightness(100%) contrast(95%);
    --imagem-cinza: invert(19%) sepia(3%) saturate(1610%) hue-rotate(188deg) brightness(70%) contrast(92%);

    --azul-medio: rgb(44, 90, 165);
    --verde-medio:#56ac5c;
    --vermelho-medio:#a43e3e;
    --amarelo-medio:#c5a534;
    --roxo-medio:#865aa4;
    --ciano-medio: #47c79a;


    --azul-escuro: #1f2f47;
    --verde-escuro:#2d512f;
    --vermelho-escuro:#562c2c;
    --amarelo-escuro:#4e4421;
    --roxo-escuro:#5a3a70;
    --ciano-escuro: rgb(45, 136, 104);

    --sombra: 0px 0px 20px #141414;
}

/* RESET */

* {
    font-family:'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/* BODY */

body {
    background-color: var(--background);
    color: var(--fonte-primaria);
    min-height: 100vh;
    display: flex;
    margin: 10px;
    gap: 10px;
    zoom: 0.8;
    
}

/* PADRÕES */
.label-inputs {
    color: var(--fonte-primaria);
    font-weight: 500;
    font-size: large;
}
input,select {
    outline: none;
    font-size: medium;
}
.icon {
    width: 20px;
    filter: brightness(0) invert(1);
}
.botao-categoria {
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--borda-clara);
    border-radius: var(--arredondamento);
    font-size: smaller;
    padding: 1px;
    width: 100px;
    height: auto;
    color: var(--fonte-secundaria);
    width: 120px;
    height: 50px;
    text-align: center;
}

.botao-azul {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    height: 35px;
    border-radius: var(--arredondamento);
    color: var(--fonte-primaria);
    background-color: var(--azul);
    border: 0;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.botao-azul:hover {
    transform:scale(0.98);
    background-color: var(--azul-medio);
}

.botao-azul img {
    height: 80%;
}

/* TEXTOS */

.titulo-grande {
    font-size: xx-large;
    font-weight: 700;
}

.titulo-medio {
    font-size: x-large;
    font-weight: 600
}

.titulo-pequeno {
    font-size: LARGE;
    font-weight: 600
}
.titulo-azul {
    font-size: x-large;
    font-weight: 600;
    color: var(--azul-medio);
}

.subtitulo-pequeno {
    color: var(--fonte-secundaria);
    font-size: small;
}

.subtitulo-medio {
    color: var(--fonte-secundaria);
    font-size: medium;
}

/* ASIDE */

aside {
    display: flex;
    flex-direction: column;
    background-color: var(--background-menu-lateral);
    min-height: 120vh;
    width: 260px;
    border-radius: var(--arredondamento);
    gap: 20px;
    align-items: center;
    padding: 10px;
}

/* LOGO */

.logo-empresa {
    width: 200px;
}

/* CONTA */

.conta-aside {
    display: flex;
    height: 100px;
    width: 100%;
    border-bottom: var(--borda-escura);
    border-top: var(--borda-escura);
    align-items: center;
    gap: 10px;
}

.conta-aside-conteudo {
    display: flex;
    height: 70%;
    width: 100%;
    align-items: center;
    gap: 10px;
    transition: transform 0.1s ease;
    cursor: pointer;
    border-radius: var(--arredondamento);
    padding: 5px;
}

.imagem-conta {
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

.conta-aside-conteudo:hover {
    transform: scale(1.02);
}

/* MENU */

.navegacao-aside {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap:10px;
}

/* LINKS */

.navegacao-aside a {
    display: flex;
    align-items: center;
    gap:10px;
    color: var(--fonte-primaria);
    padding: 10px;
    border-radius: var(--arredondamento);

    transition: 
        background-color 0.2s ease,
        color 0.2s ease,
        transform 0.2s ease,
        filter 0.2s ease;
}

/* HOVER LINKS */

.navegacao-aside a:not(.link-ativo):hover{
    background-color: var(--azul-escuro);
    color: var(--azul);
    transform: translateX(5px);
}

.navegacao-aside a:not(.link-ativo):hover img {
    filter: brightness(0) saturate(100%) invert(34%) sepia(98%) saturate(2653%) hue-rotate(218deg) brightness(102%) contrast(101%);
}

/* LINK ATIVO */

.link-ativo {
    background-color: var(--azul-escuro);
    color: var(--azul);
    transform: translateX(5px);
}

/* MAIN */

main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/**********************INDEX***********************/

/* TOPO */

.main-topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

/* MEIO */

.main-meio-index {
    display: flex;
    gap: 10px;
    padding: 10px;
}

/* PRINCIPAL */

.main-principal-index {
    display: flex;
    gap: 20px;
    flex: 1;
    padding: 10px;
    align-items: start;
}

/* CARDS */

.main-meio-index-card {
    display: flex;
    justify-content: space-around;
    flex: 1;
    min-width: 250px;
    height: 220px;
    background-color: var(--background-divisoes);
    border: var(--borda-clara);
    border-radius: var(--arredondamento);
    padding: 25px;
    transition: transform 0.2s ease;
}

.main-meio-index-card:hover {
    transform: scale(1.01);
    box-shadow: var(--sombra);
    cursor: pointer;
    border: 1px solid #31456c;
}

.main-principal-index-card-esquerda {
    flex: 1;
    min-width: 250px;
    height: 600px;
    background-color: var(--background-divisoes);
    border: var(--borda-clara);
    border-radius: var(--arredondamento);
    padding: 20px;
}

.main-principal-index-card-direita {
    flex: 2;
    min-width: 450px;
    height: 600px;
    background-color: var(--background-divisoes);
    border: var(--borda-clara);
    border-radius: var(--arredondamento);
    padding: 20px;
}
.main-principal-index-card-direita-titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ver-todos {
    transition: transform 0.2s ease;
}
.ver-todos:hover {
    transform: scale(1.04);
    text-decoration: underline;
    color: #99a1bd;
}

/* INFORMAÇÕES CARDS */

.main-meio-index-card-informacoes{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap:20px;
}
.main-meio-index-card-informacoes >*{
    flex:1;
    display: flex;
    align-items: center;
}

.main-principal-index-card-direita-ativos {
    display: flex;
    flex-direction: column;
    height: 500px;
    margin-bottom: 30px;
    margin-top: 20px;
}
.main-principal-index-card-direita-ativos-self {
    flex: 1;
    display: flex;
    justify-content: start;
    align-items: center;
    gap:20px;
    transition: transform 0.2s ease;
    border-radius: var(--arredondamento);
    padding: 5px;
}
.main-principal-index-card-direita-ativos-self:hover {
    transform: scale(1.02);
    box-shadow: var(--sombra);
}
.main-principal-index-card-direita-ativos-self-extras {
    display: flex;
    gap: 20px;
}

/* ICONES CARDS */
.icone-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: var(--arredondamento);
}
.icone-cards.self-ativo {
    width: 60px;
    height: 60px;
}
.icone-cards img {
    width: 20px;
    height: 20px;
}
.icone-cards.self-ativo img {
    width: 40px;
    height: 40px;
}

.icone-cards.azul {
    background-color: var(--azul-escuro);
}
.icone-cards.azul img {
    filter: var(--imagem-azul);
}

.icone-cards.ciano {
    background-color: var(--ciano-escuro);
}
.icone-cards.ciano img {
    filter: var(--imagem-ciano);
}

.icone-cards.amarelo {
    background-color: var(--amarelo-escuro);
}
.icone-cards.amarelo img {
    filter: var(--imagem-amarelo);
}

.icone-cards.verde {
    background-color: var(--verde-escuro);
}
.icone-cards.verde img {
    filter: var(--imagem-verde);
}

.icone-cards.vermelho {
    background-color: var(--vermelho-escuro);
}
.icone-cards.vermelho img {
    filter: var(--imagem-vermelho);
}

.icone-cards.roxo {
    background-color: var(--roxo-escuro);
}
.icone-cards.roxo img {
    filter: var(--imagem-roxo);
}
/* GRAFICO */
#grafico {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#grafico-dashboard {
    max-width: 300px;
}

/**********************PATRIMONIO***********************/

/*PESQUISA PATRIMONIO*/
.main-pesquisa {
    flex: 9;
    min-width: 300px;
    display: flex;
    align-items: center;
    background-color: var(--background-divisoes);
    padding: 10px;
    border-radius: var(--arredondamento);
    gap: 10px;
}
.main-pesquisa img{
    height: 20px;
    background-color: transparent;
    border-top-left-radius: var(--arredondamento);
    border-bottom-left-radius: var(--arredondamento);
}
.main-pesquisa-patrimonio {
    display: flex;
    gap: 10px;
}
.main-pesquisa-patrimonio-input {
    border-top-right-radius: var(--arredondamento);
    border-bottom-right-radius: var(--arredondamento);
    height: 40px;
    width: 100%;
    background-color: transparent;
    border: none;
    color: var(--fonte-primaria);
    padding-left: 17px;
    color: var(--fonte-secundaria);
}
.main-pesquisa-patrimonio-input::placeholder {
    color: var(--fonte-secundaria)
}
.main-pesquisa-patrimonio-select-categoria {
    flex: 3;
    border-radius: var(--arredondamento);
    width:350px;
    height: 60px;
    background-color: var(--background-divisoes);
    border: var(--borda-escura);
    color: var(--fonte-primaria);
    padding: 10px;
    color: var(--fonte-secundaria);
}
.main-pesquisa-patrimonio-select-status {
    flex: 1;
    border-radius: var(--arredondamento);
    width: 100px;
    height: 60px;
    background-color: var(--background-divisoes);
    border: var(--borda-escura);
    color: var(--fonte-primaria);
    padding: 10px;
    color: var(--fonte-secundaria);
}
/* CARDS */

.main-principal-patrimonio {
    display: flex;
    padding: 30px;
    height: auto;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
}
.main-principal-patrimonio-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: var(--arredondamento);
    border: var(--borda-clara);
    width: 350px;
    height: 450px;
    padding: 15px;
    background-color: var(--background-divisoes);
    transition: transform 0.2s ease;
}
.main-principal-patrimonio-card:hover{
    transform: scale(1.04);
    cursor: pointer;
}
.main-principal-patrimonio-card-foto {
    display: flex;
    min-width: 100px;
    width: auto;
    max-height:200px;
    object-fit: contain;   
}
.main-principal-patrimonio-card-descricao {
    padding: 10px;
}
.main-principal-patrimonio-card-descricao-titulo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: var(--borda-escura);
    gap: 3px;
}
.card-titulo {
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.main-principal-patrimonio-card-descricao-meio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
}
.main-principal-patrimonio-card-descricao-meio div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    gap: 5px;
}
.main-principal-patrimonio-card-descricao-meio div img{
    height: 20px;

}
.card-valores {
    display: flex;
    justify-content: space-between;
}
.patrimonio-ativo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    border: 2px solid var(--verde-escuro);
    background-color: var(--verde);
    color: var(--fonte-primaria);
    border-radius: var(--arredondamento);
}
.patrimonio-inativo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    border: 2px solid var(--vermelho-escuro);
    background-color: var(--vermelho);
    color: var(--fonte-primaria);
    border-radius: var(--arredondamento);
}
/****************** NOVO PATRIMONIO *******************/

/* CARDS */
.novo-patrimonio-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    gap: 30px;
    min-width: 800px;
    min-height: 280px;
    height: auto;
    background-color: var(--background-divisoes);
    border: var(--borda-clara);
    border-radius: 30px;
    padding: 25px;
    transition: transform 0.2s ease;
    margin: 20px 200px; 
}
#card-upload-foto{
    display: flex;
    justify-content: center;
}

/* INPUTS */
.upload-box{
    width:500px;
    height:300px;
    border:2px dashed var(--cinza);
    border-radius:var(--arredondamento);
    display:flex;
    align-items:center;
    justify-content:center;
    cursor:pointer;
    background-color: var(--background-divisoes);
    position:relative;
    overflow:hidden;
    padding: 15px;
}

.upload-box input{
    display:none;
}

.conteudo-upload{
    text-align:center;
    filter: var(--imagem-cinza);
}

.preview-img{
    border-radius: var(--arredondamento);
    width:100%;
    height:100%;
    object-fit: contain;
    display:none;
}
.box-inputs-grande {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 15px;
    justify-content: center;
}

.box-inputs-grande div{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}
.input-grande {
    background-color: #2d3037;
    border-radius: var(--arredondamento);
    height: 40px;
    border: solid 1px var(--borda-clara);
    color: var(--fonte-primaria);
    padding-left: 20px;
    font-size: medium;
}
.textarea-grande {
    background-color: #2d3037;
    width: 100%;
    border-radius: var(--arredondamento);
    height: 200px;
    border: solid 1px var(--borda-clara);
    color: var(--fonte-primaria);
    padding: 20px;
    font-size: medium;

}

/* KEYFRAMES */
.aparecer-baixo {
    opacity: 0;
    transform: translateY(30px);
    animation: subirSuave 0.8s ease forwards;
}

@keyframes subirSuave {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}